@using Sandbox.SOA.Portal.Helpers
@using SquishIt.Framework
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - SOA with MVC 5 and WebApi 2</title>

        @Html.Raw(Bundle.Css()
                        .Add("~/Content/Site.css")
                      //.AddDirectory("~/Content/bootstrap/bootstrap-addons/")
                        .Render("~/content/styles-#.css")
             )
 
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
    </head>
    <body>
        <div class="page">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("SOA MVC5/WebApi2", "Index", "Home", null, new {@class = "navbar-brand"})
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Home()">Home</a></li>
                            <li><a href="@Url.People()">People</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                @RenderSection("breadcrumb", false)
            </div>

            <div class="container body-content">
                <div class="page-header">
                    <h4>@ViewBag.Title</h4>
                </div>
                <div class="panel panel-default">
                    @RenderBody()
                </div>
            </div>

            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container">
                    <p>&copy; @DateTime.Now.Year - SOA with MVC 5 and WebApi 2</p>
                </div>
            </div>
        </div>

        <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        </div>
            
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        @Html.Raw(Bundle.JavaScript()
                        .Add("~/Scripts/bootstrap.js")
                      //.AddDirectory("~/Scripts/bootstrap-addons/")
                        .AddDirectory("~/Scripts/form/")
                        .Render("~/content/scripts-#.js")
             )
    </body>
</html>