@using Sandbox.SOA.Portal.Helpers
@using Sandbox.SOA.Portal.Resources
@using SquishIt.Framework
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>@ViewBag.Title - SiteResources.Title</title>

        @Html.Raw(Bundle.Css()
                        .Add("~/Content/Site/Main.css")
                        .Add("~/Content/bootstrap-select.css")
                      //.AddDirectory("~/Content/bootstrap/bootstrap-addons/")
                        .Render("~/content/site/#.css")
             )
 
        @Html.Raw(Bundle.JavaScript()
                        .Add("~/Scripts/modernizr-2.7.1.js")
                        .Render("~/content/scripts-head-#.js")
                        )
    </head>
    <body>
        <div class="page">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a class="navbar-brand" href="@Url.Home()">SOA</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Home()">Home</a></li>
                            <li><a href="@Url.People()">People</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                @RenderSection("breadcrumb", false)
            </div>

            <div class="container body-content">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1>@ViewBag.Title</h1>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>

        <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        </div>
            
        @Html.Raw(Bundle.JavaScript()
                        .Add("~/Scripts/jquery-2.0.3.js")
                        .Add("~/Scripts/bootstrap.js")
                        .Add("~/Scripts/bootstrap-select.js")
                      //.AddDirectory("~/Scripts/bootstrap-addons/")
                        .AddDirectory("~/Scripts/form/")
                        .Render("~/content/scripts-#.js")
             )
    </body>
</html>