@using SquishIt.Framework
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - SOA with MVC 5 and WebApi 2</title>

        @Html.Raw(Bundle.Css()
                        .Add("~/Content/Site.css")
                        .AddDirectory("~/Content/bootstrap/bootstrap-addons/")
                        .Render("~/assets/styles=#.js")
             )
 
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("SOA with MVC 5 and WebApi 2", "Index", "Home", null, new {@class = "navbar-brand"})
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>

                @RenderSection("breadcrumb", false)
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            
        </div>

        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - SOA with MVC 5 and WebApi 2</p>
            </div>
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        @Html.Raw(Bundle.JavaScript()
                        .Add("~/Scripts/bootstrap.js")
                        .AddDirectory("~/Scripts/bootstrap-addons/")
                        .AddDirectory("~/Scripts/form/")
                        .Render("~/assets/scripts=#.js")
             )
    </body>
</html>