@model PersonEditViewModel

<form action="@Url.PersonEdit(Model.Identifier)"
      method="POST"
      role="form" class="form-horizontal">
    <div class="panel-body">
    
        @Html.EditorFor(m => m.Name)
        @Html.EditorFor(m => m.MobilePhone)
        
        <a href="@Url.PersonAddresses(Model.Identifier)">Addresses</a>

    </div>
    <div class="panel-footer">
        @Html.FormSave(Url.People(), Url.PersonDelete(Model.Identifier))
    </div>
</form>
